#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#menu {
	background: #0047AB;
	/*opacity: 0.5;*/
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	height: 100%;
	width: 300px;
}

#speed-selection {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 150px;
}

.row {
	position: relative;
	height: 50px;
}

.checked {
	position: absolute;
	z-index: 6;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 16px;
	height: 16px;
	background: red;
}

#checked1 {
	visibility: hidden;
}

#checked2 {
        visibility: hidden;
}

#checked3 {
        visibility: hidden;
}

.checkbox {
	width: 25px;
	height: 25px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 5;
	position: absolute;
}

.col1 {
	height: 50px;
	width: 100px;	
	position: absolute;
	top: 0px;
	left: 0px;
}

.col2 {
	height: 50px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 25px;	
	line-height: 50px;
	color: white;
}

#color-selection {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 240px;
	height: 10px;
	border: 1px black solid; 
}

#selector {
	position: absolute;
	width: 10px;	
	height: 10px;
}

#triangle-up {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	z-index: 5;
	bottom: 5px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#selector-up {
	position: absolute;
	background: white;
	top: -1px;
	left: 1px;
	width: 8px;
	height: 2px;
	z-index: 3;
}

#selector-down {
	position: absolute;
	background: white;
	bottom: -1px;
	left: 1px;
	width: 8px;
	height: 2px;
	z-index: 3;
}


#selector-left {
	position: absolute;
	background: white;
	left: -1px;
	top: -1px;
	width: 2px;
	height: 12px;
	z-index: 3;
}

#selector-right {
	position: absolute;
	background: white;
	right: -1px;
	top: -1px;
	width: 2px;
	height: 12px;
	z-index: 3;
}

.color {
	float: left;
	height: 10px;
	width: 10px;
}

#color1 {
	background-color: #FF00FE;
}

#color2 {
	background-color: #FE00BF;
}

#color3 {
	background-color: #FD007F;
}

#color4 {
	background-color: #FF003D;
}

#color5 {
	background-color: #FE0000;
}

#color6 {
	background-color: #FE3E00;
}

#color7 {
	background-color: #F87D02;
}

#color8 {
	background-color: #FDBE07;
}

#color9 {
	background-color: #FCFE02;
}

#color10 {
	background-color: #BBFE01;
}

#color11 {
	background-color: #81FE00;
}

#color12 {
	background-color: #3FFF01;
}

#color13 {
	background-color: #01FE00;
}

#color14 {
	background-color: #00FD3E;
}

#color15 {
	background-color: #00FE80;
}

#color16 {
	background-color: #00FEBD;
}

#color17 {
	background-color: #00FEFE;
}

#color18 {
	background-color: #00BFFE;
}

#color19 {
	background-color: #007EFF;
}

#color20 {
	background-color: #0040FC;
}

#color21 {
	background-color: #0000FB;
}

#color22 {
	background-color: #3D00FE;
}

#color23 {
	background-color: #7E00FF;
}

#color24 {
	background-color: #C000FD;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: white;
}

#genCount {
	background: white;
	position: absolute;
	color: red;
	font-size: 30px;
	right: 0;
	bottom: 0;
	z-index: 2;
}

