#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#menu {
	background: white;
	/*opacity: 0.5;*/
	position: absolute;
	right: 0;
	z-index: 2;
	height: 100%;
	width: 30%;
}


#color-selection {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	height: 25px;
	border: 1px black solid; 
}

#selector {
	position: absolute;
	width: 25px;	
	height: 25px;
}

#triangle-up {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	z-index: 5;
	bottom: 5px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#selector-up {
	position: absolute;
	background: white;
	top: 0px;
	left: 5px;
	width: 15px;
	height: 5px;
	z-index: 3;
}

#selector-down {
	position: absolute;
	background: white;
	bottom: 0px;
	left: 5px;
	width: 15px;
	height: 5px;
	z-index: 3;
}


#selector-right {
	position: absolute;
	background: white;
	left: 0px;
	width: 5px;
	height: 25px;
	z-index: 3;
}

#selector-left {
	position: absolute;
	background: white;
	right: 0px;
	width: 5px;
	height: 25px;
	z-index: 3;
}

.color {
	float: left;
	height: 25px;
	width: 25px;
}

#green {
	background-color: #00FF00;
}

#blue {
	background-color: #0000FF;
}

#red {
	background-color: #FF0000;
}

#cyan {
	background-color: #00FFFF;
}

#yellow {
	background-color: #FFFF00;
}

#magenta {
	background-color: #FF00FF;
}

h1 {
	text-align: center;
	font-family: sans-serif;
}

#genCount {
	background: white;
	position: absolute;
	color: red;
	font-size: 30px;
	right: 0;
	bottom: 0;
	z-index: 2;
}

